# 변수란?

# 변수를 대입할떄는 =을 쓴다

In [22]:
a=1

False

In [1]:
a=100
a

100

# 변수명은 앞에 숫자를 넣으면 안된다

In [6]:
1a=100

SyntaxError: invalid decimal literal (542286623.py, line 1)

# 변수명은 이미있는 기능으로 지으면 안됀다

In [2]:
print(100)
100

100

100

In [3]:
print=100
print

100

In [4]:
print(200)

TypeError: 'int' object is not callable

# 변수명에 공백이 있으면 안됀다

In [5]:
a b=100

SyntaxError: invalid syntax (2974175.py, line 1)

# 밭의 길이 구하기 프로그램

In [8]:
가로=200
세로=300
가로*세로

60000

# type으로 해당변수의 타입을 볼수있다

In [9]:
type(가로)

int

In [10]:
type(1.1)

float

In [11]:
type('1.1')

str

<table>
<tr><td>int</td><td>소수점 없는 숫자</td><tr>
<tr><td>float</td><td>모든 숫자(int도 가능)</td><tr>
<tr><td>str</td><td>글자</td><tr>
</table>

In [12]:
a=10
a

10

In [ ]:
a

In [15]:
input("숫자를 입력해주세요")

'1234'

In [27]:
type(input("숫자를 입력해주세요"))

str

# 형변환

In [29]:
n1=input("숫자를 입력해주세요")
n2=input("숫자를 입력해주세요")
n1+n2

'154'

# 특별한 계산기

In [20]:
num1=input("숫자1을 입력하세요")
num2=input("숫자2를 입력하세요")
num1=int(num1)
num2=int(num2)
num1+num2

9

# 넓이 구하기

In [ ]:
w
h

In [25]:
몸무게=float(input("당신의 몸무게는?"))
몸무게=몸무게-float(input("몇키로 빠졌나요?"))
몸무게

60.0

In [ ]:
a=100
a=a-10
a

In [ ]:
a=100
a+=10#a=a10

In [26]:
41+=2#41=41+2

SyntaxError: 'literal' is an illegal expression for augmented assignment (1499573875.py, line 1)

In [ ]:
result={
    0:"짝수",
    1:"홀수"

}
num=int